/* ============================ ID SECTION ============================*/
#main{
    background-color: silver;
    text-align: center;
}
#title{
    text-align: center;
}
#img-div{
    text-align: center;
    background-color:white;
    margin: 3%;
    padding-bottom: 3%;
}
#image{

}
#tribute-info{
    width: 50%;
    margin: 0 auto 0 auto;
    
}
/* ============================ CLASS SECTION =========================*/

.list {
    text-align: left;
    line-height: 2rem;
}