li{
    margin-bottom: 5%;;
}
/* ============================ ID SECTION ============================*/
#main{
    background-color: silver;
    text-align: center;
    padding-top: 5%;
    font-family: 'Roboto', sans-serif;
}
#title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
#img-div{
    text-align: center;
    background-color:white;
    margin: 3%;
    padding-bottom: 3%;
}
#image{
    width:90%;
}
#tribute-info{
    width: 50%;
    margin: 0 auto 0 auto;
    
}
#quote{
    text-align: left;
}
#reference{
    font-family: 'Roboto', sans-serif;
    margin: 3% auto 0 auto;
    width: 70%;
    padding-bottom:3%;
}
/* ============================ CLASS SECTION =========================*/

.list {
    text-align: left;
    line-height: 2rem;
}